In [11]:
ds_kamisato = {
    "41": "タロウ", "42": "タロウ", "43": "タロウ", "44": "タロウ", "45": "タロウ", "46": "タロウ", 
    "47": "禁書", "48": "禁書", "49": "禁書", "50": "禁書", "51": "禁書", "52": "禁書",
    "53": "アリア", "54": "アリア", "81": "戦コレ", "82": "真牙狼", "83": "真牙狼", "84": "真牙狼", 
    "87": "乙女6", "88": "乙女6", "89": "物語2", "90": "物語2", "121": "モンキー",
    "125": "ギンパラ", "126": "ギンパラ", "127": "ガルパン", "128": "ガルパン", 
    "129": "信奈全国", "130": "信奈全国", "334": "轟音", "335": "轟音", "336": "轟音", "337": "轟音", 
    "405": "ゴルゴ", "406": "ゴルゴ", "401": "冬ソナ", "402": "冬ソナ", 
    "447": "超乱舞", "448": "超乱舞", "453": "決戦", "454": "決戦", "455": "決戦", "571": "決戦A", 
    "500": "Mキュン", "521": "HOTD", "525": "カグラ", "563": "TURBO", "616": "TURBO", 
    "576": "AKB桜", "567": "まどか", "611": "まどか", "579": "まわるん", "580": "金富士", "601": "999"
}
print(ds_kamisato)

{'41': 'タロウ', '42': 'タロウ', '43': 'タロウ', '44': 'タロウ', '45': 'タロウ', '46': 'タロウ', '47': '禁書', '48': '禁書', '49': '禁書', '50': '禁書', '51': '禁書', '52': '禁書', '53': 'アリア', '54': 'アリア', '81': '戦コレ', '82': '真牙狼', '83': '真牙狼', '84': '真牙狼', '87': '乙女6', '88': '乙女6', '89': '物語2', '90': '物語2', '121': 'モンキー', '125': 'ギンパラ', '126': 'ギンパラ', '127': 'ガルパン', '128': 'ガルパン', '129': '信奈全国', '130': '信奈全国', '334': '轟音', '335': '轟音', '336': '轟音', '337': '轟音', '405': 'ゴルゴ', '406': 'ゴルゴ', '401': '冬ソナ', '402': '冬ソナ', '447': '超乱舞', '448': '超乱舞', '453': '決戦', '454': '決戦', '455': '決戦', '571': '決戦A', '500': 'Mキュン', '521': 'HOTD', '525': 'カグラ', '563': 'TURBO', '616': 'TURBO', '576': 'AKB桜', '567': 'まどか', '611': 'まどか', '579': 'まわるん', '580': '金富士', '601': '999'}

In [37]:
ds_kuragano =  {
    "10": "まどか", "46": "999", "42": "決戦A", "51": "決戦A", "89": "AKB桜", "90": "AKB桜",
    "149": "超乱舞", "150": "超乱舞", "463": "TURBO", "474": "TURBO", "495": "TURBO"
}
print(ds_kuragano)

{'10': 'まどか', '46': '999', '42': '決戦A', '51': '決戦A', '89': 'AKB桜', '90': 'AKB桜', '149': '超乱舞', '150': '超乱舞', '463': 'TURBO', '474': 'TURBO', '495': 'TURBO'}

In [11]:
p = f"ds_kuragano.json"
with open(p, "r", encoding="utf-8") as f:
    read_dic = json.load(f)
print(read_dic)

{'10': 'まどか', '46': '999', '42': '決戦A', '51': '決戦A', '89': 'AKB桜', '90': 'AKB桜', '149': '超乱舞', '150': '超乱舞', '200': 'ギンパラ', '201': 'ギンパラ', '202': 'ギンパラ', '203': 'ギンパラ', '463': 'TURBO', '474': 'TURBO', '495': 'TURBO'}

In [5]:
import json
import datetime
import pandas as pd

def datestring():
    dt_now = datetime.datetime.now()
    oneday = datetime.timedelta(days=1)
    if dt_now.hour < 13: dt_now -= oneday
    yyyymmdd = dt_now.strftime('%Y-%m-%d')
    return yyyymmdd

In [7]:
# しょりするほーる
# hall = "kuragano"
hall = "kamisato"
print(hall)

kamisato

In [30]:
# きょうのでーた
yyyymmdd = datestring()
p = f"./ds_{hall}_works_{yyyymmdd}.json"
with open(p, "r", encoding="utf-8") as f:
    read_dic = json.load(f)

lst = [v for v in read_dic.values() if v[3] == "0"]
col = ["No", "machine", "date", "初当", "継続", "最終", "前日"]
today_df = pd.DataFrame(lst, columns=col)
today_df

     No machine         date 初当 継続   最終   前日
0    41     タロウ  08/16 00:44  0  0  191  280
1    43     タロウ  08/16 00:46  0  0  160  Do)
2    82     真牙狼  08/16 00:58  0  0    0  123
3   334      轟音  08/16 01:11  0  0    0    0
4   335      轟音  08/16 01:12  0  0    0   10
5   336      轟音  08/16 01:13  0  0    0    4
6   337      轟音  08/16 01:13  0  0   11    0
7   406     ゴルゴ  08/16 01:15  0  0   60   40
8   401     冬ソナ  08/16 01:16  0  0   73    0
9   402     冬ソナ  08/16 01:17  0  0  210  108
10  453      決戦  08/16 01:20  0  0  234   10
11  455      決戦  08/16 01:21  0  0  134   11
12  525     カグラ  08/16 01:25  0  0   38   18

In [31]:
# しゅうせい
# today_df.drop(1, inplace=True)
# today_df.drop(6, inplace=True)
today_df.loc[0, "初当":"前日"] = [0,0,66,0]
today_df.loc[1, "初当":"前日"] = [0,0,0,20]
today_df.loc[2, "初当":"前日"] = [0,0,0,20]
today_df

    No machine         date 初当 継続  最終  前日
0  250     タロウ  08/03 02:11  0  0  66   0
1  266     タロウ  08/03 02:12  0  0   0  20
2  267     タロウ  08/03 02:13  0  0   0  20

In [31]:
# ぜんじつのでーた
dt_now = datetime.datetime.now()
oneday = datetime.timedelta(days=1)
if dt_now.hour < 13: dt_now -= oneday
dt_now -= oneday
yyyymmdd = dt_now.strftime('%Y-%m-%d')

p = f"./ds_{hall}_{yyyymmdd}.json"
with open(p, "r", encoding="utf-8") as f:
    read_dic = json.load(f)
pre_df = pd.DataFrame(read_dic.values())
pre_df.head(10)

     0    1            2  3  4    5   6
0   43  タロウ  08/14 02:04  0  0   14   4
1   43  タロウ  08/15 03:47  0  0   5)  14
2   49   禁書  08/15 03:52  0  0   88  16
3   87  乙女6  08/15 04:01  0  0  151   6
4  334   轟音  08/13 03:12  0  0    0   0
5  334   轟音  08/14 02:37  0  0   13   0
6  334   轟音  08/15 04:11  0  0    0  13
7  335   轟音  08/13 03:13  0  0    0   0
8  335   轟音  08/14 02:38  0  0    6   0
9  335   轟音  08/15 04:12  0  0   10   6

In [32]:
#　まーじ
lst = []
for row in today_df.itertuples():
    lst.append(list(row[1:]))
    lst += [list(r[1:]) for r in pre_df.itertuples() if row.No == r._1]
col = ["No", "machine", "date", "初当", "継続", "最終", "前日"]
merge_df = pd.DataFrame(lst, columns=col).sort_values(['No', 'date']).reset_index(drop=True)
merge_df.head(10)

    No machine         date 初当 継続   最終   前日
0   41     タロウ  08/16 00:44  0  0  191  280
1   43     タロウ  08/14 02:04  0  0   14    4
2   43     タロウ  08/15 03:47  0  0   5)   14
3   43     タロウ  08/16 00:46  0  0  160  Do)
4   82     真牙狼  08/16 00:58  0  0    0  123
5  334      轟音  08/13 03:12  0  0    0    0
6  334      轟音  08/14 02:37  0  0   13    0
7  334      轟音  08/15 04:11  0  0    0   13
8  334      轟音  08/16 01:11  0  0    0    0
9  335      轟音  08/13 03:13  0  0    0    0

In [33]:
# ほぞん
yyyymmdd = datestring()
dic = {idx: list(row) for idx, row in merge_df.iterrows()}
read_json = json.dumps(dic, ensure_ascii=False)
p_w = f"./ds_{hall}_{yyyymmdd}.json"
with open(p_w, "w", encoding="utf-8") as f:
    f.write(read_json)
print(f"{p_w} saved")

./ds_kamisato_2021-08-15.json saved

In [82]:
yyyymmdd = "2021-08-10"
work_p = f"./ds_kamisato_works_{yyyymmdd}.json"
with open(work_p, "r", encoding="utf-8") as f:
    read_dic = json.load(f)

# lst = [[key, *item] for key, item in read_dic.items()]
lst = [list(v) for v in read_dic.values()]
col = ["No", "machine", "date", "初当", "継続", "最終", "前日"]
df = pd.DataFrame(lst, columns=col)
df

     No machine         date 初当 継続   最終   前日
0    43     タロウ  08/11 01:32  0  0   65   12
1    50      禁書  08/11 01:39  0  0    0  108
2    51      禁書  08/11 01:41  0  0   20   46
3    81     戦コレ  08/11 01:45  0  0    0    9
4    82     真牙狼  08/11 01:46  0  0   16  261
5    83     真牙狼  08/11 01:47  0  0    0   22
6    84     真牙狼  08/11 01:48  0  0   14    7
7    89     物語2  08/11 01:50  0  0   31  132
8    90     物語2  08/11 01:51  0  0  268   36
9   125    ギンパラ  08/11 01:53  0  0   73    0
10  126    ギンパラ  08/11 01:54  0  0  111  141
11  334      轟音  08/11 02:00  0  0    0    0
12  335      轟音  08/11 02:01  0  0    0    0
13  336      轟音  08/11 02:02  0  0    0  167
14  337      轟音  08/11 02:03  0  0    0   13
15  406     ゴルゴ  08/11 02:05  0  0    0    7
16  401     冬ソナ  08/11 02:06  0  0    0   B5
17  402     冬ソナ  08/11 02:07  0  0    0    0
18  448     超乱舞  08/11 02:09  0  0   56   18
19  453      決戦  08/11 02:10  0  0    0   5)
20  454      決戦  08/11 02:11  0  0   12   50
21  521    HOTD  08/11 02:16  0  0    0    7

In [119]:
l1 = [0, 1, 2]
l2 = [3, 4, 5]
cols = ["A", "B", "C"]
df = pd.DataFrame([l1, l2], columns=cols)
print(df)

   A  B  C
0  0  1  2
1  3  4  5

In [131]:
d1 = {"A": 0, "B": 1, "C": 2}
d2 = {"A": 3, "B": 4, "C": 5}
df = pd.DataFrame([d1, d2], index=["bob", "alice"])
print(df)

       A  B  C
bob    0  1  2
alice  3  4  5

In [132]:
dic = {"bob": [0, 1, 2], "alice": [3, 4, 5]}
df = pd.DataFrame(dic, index=["A", "B", "C"])
print(df)

   bob  alice
A    0      3
B    1      4
C    2      5

In [133]:
print(df.T)

       A  B  C
bob    0  1  2
alice  3  4  5

In [134]:
s1 = pd.Series([0, 1, 2], index=idx, name="bob")
s2 = pd.Series([3, 4, 5], index=idx, name="alice")
df = pd.DataFrame([s1, s2])
print(df)

       A  B  C
bob    0  1  2
alice  3  4  5

In [130]:
s1 = pd.Series(d1, name="bob")
s2 = pd.Series(d2, name="alice")
df = pd.DataFrame([s1, s2])
print(df)

       A  B  C
bob    0  1  2
alice  3  4  5

In [135]:
df

       A  B  C
bob    0  1  2
alice  3  4  5

In [136]:
# orient="dict" {column -> {index -> value}} *デフォルト
# orient="list" {column -> [values]}
d_dict = df.to_dict(orient="dict")
d_dict

{'A': {'bob': 0, 'alice': 3},
 'B': {'bob': 1, 'alice': 4},
 'C': {'bob': 2, 'alice': 5}}

In [138]:
d_list = df.to_dict(orient="list")
print(d_list)

{'A': [0, 3], 'B': [1, 4], 'C': [2, 5]}

In [139]:
d_series = df.to_dict(orient="series")
print(d_series)

{'A': bob      0
alice    3
Name: A, dtype: int64, 'B': bob      1
alice    4
Name: B, dtype: int64, 'C': bob      2
alice    5
Name: C, dtype: int64}

In [140]:
from IPython.display import HTML
d_html = df.to_html()
HTML(d_html)

In [142]:
print(df.to_json(orient="columns"))

{"A":{"bob":0,"alice":3},"B":{"bob":1,"alice":4},"C":{"bob":2,"alice":5}}

In [151]:
dic = {"ボブ": [0, 1, 2], "アリス": [3, 4, 5]}
df = pd.DataFrame(dic, index=["A", "B", "C"])
print(df.to_json(force_ascii=False)) # 全角文字（日本語）などをUnicodeエスケープしない

{"ボブ":{"A":0,"B":1,"C":2},"アリス":{"A":3,"B":4,"C":5}}

In [152]:
j = df.to_json(force_ascii=False) # 全角文字（日本語）などをUnicodeエスケープしない
p = "./example.json"
with open(p, "w", encoding="utf-8") as f:
    f.write(j)

In [153]:
p = "./example.json"
with open(p, "r", encoding="utf-8") as f:
    read_dic = json.load(f)
print(read_dic)

{'ボブ': {'A': 0, 'B': 1, 'C': 2}, 'アリス': {'A': 3, 'B': 4, 'C': 5}}

In [158]:
df = pd.DataFrame(read_dic)
print(df.T)

     A  B  C
ボブ   0  1  2
アリス  3  4  5

In [4]:
import seaborn as sns
iris = sns.load_dataset('iris')

df = iris.head(5)
df

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [20]:
x = 10
list(range(0, x*2, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [29]:
def spam(ham, eggs=None):
    if not eggs:
        print("eggs")
    print(ham, eggs)
    
spam("ham", "e")

ham e